/* Variables for colors */
$primary-color: #63dafc;
$secondary-color: #e7f1f1;
$tertiary-color: #1d719d;

$secondary-color-dm: #2c394c;

/* Variables for fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$main-fonts: Dosis, arial, helvetica;